:root {
    --main-background: #222;
    --text-color: #ddd;
    --header-background: #2c3e50;
    --header-text-color: #fff;
    --section-background: #333;
    --section-shadow: rgba(0, 0, 0, 0.3);
    --section-max-width: 800px;
    --section-text-color: #3498db; 
    --footer-background: #2c3e50;
    --footer-text-color: #fff;

    --link-color: #7eccff;
    --visited-link-color: #d09dff;
    --hover-link-color: #ff9148;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--visited-link-color); 
}

a:hover {
    color: var(--hover-link-color);
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
    color: var(--text-color);
}

header {
    background-color: var(--header-background);
    color: var(--header-text-color);
    text-align: center;
    padding: 2rem 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.3125rem 0 0; 
}

section {
    background-color: var(--section-background);
    padding: 1.25rem; 
    border-radius: 0.625rem; 
}

section h2 {
    color: var(--section-text-color);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 0.3125rem; /* 5px converted to rem */
}

#home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    margin: 0.625rem;
    grid-template-areas:
        "about navigation"
        "snowflake-message snowflake-iframe"
        "resume contact";
}

@media (max-width: 53.125rem) { 
    #home-container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "about"
            "navigation"
            "snowflake-message"
            "snowflake-iframe"
            "resume"
            "contact";
    }
}

#snowflake-box {
    grid-area: iframe;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem; /* 20px converted to rem */
}

#snowflake-message {
    grid-area: snowflake-message;
}
#snowflake-iframe {
    grid-area: snowflake-iframe;
    display: flex;
    justify-content: center;
}

#about {
    grid-area: about;
}

#navigation {
    grid-area: navigation;
}

#resume {
    grid-area: resume;
}

.contact-info {
    grid-area: contact;
}

.column {
    margin: 1.25rem; /* 20px converted to rem */
}

footer {
    text-align: center;
    padding: 0.625rem; /* 10px converted to rem */
    background-color: var(--footer-background);
    color: var(--footer-text-color);
}
