{% extends "base/layout.html" %}

{% block style %}
<link rel="stylesheet" href="/assets/theme.css">{% endblock style %}

{% block body %}
<header>
    <h1>Mason Pike</h1>
    <p>Software/Web Developer</p>
</header>

<div id="home-container">
    <section id="snowflake-message" class="column">
        <h2>While you're here....</h2>
        <p>why not help someone out there avoid internet censorship by opening up a snowflake proxy ? Just click
            on the switch there and you're good to go.</p>
    </section>
    <div id="snowflake-iframe">
        <iframe src="https://snowflake.torproject.org/embed.html" title="snowflake" width="320" height="240"
            frameborder="0" scrolling="no"></iframe>
    </div>
    <section id="about" class="column">
        <h2>About Me</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in quam a justo interdum fermentum eu vel
            enim. Curabitur accumsan, nulla at aliquet facilisis, sapien erat efficitur erat.
        </p>
    </section>

    <section id="navigation" class="column">
        <h2>Other Sites</h2>
        <ul>
            <li>Blog: <a href="" target="_blank">blog.sonpike.net</a></li>
            <li>Music: <a href="" target="_blank">mu.sonpike.net</a></li>
            <li>Git: <a href="" target="_blank">git.sonpike.net</a></li>
	    <li>Onion: <a href="" target="_blank">http://abp4ycq37lb77vvcojikcz2tc532ei7mgqmqabic2dembi3zluldxtid.onion</a></li>
        </ul>
    </section>

    <section id="resume" class="column">
        <h2>Want to work together ?</h2>
        <p>Wonderful! Let's make your ideas a reality.</p>

        <h3>Resume:</h3>
        <ul>
            <li><a href="/resume" target="_blank">Simple Resume (English)</a></li>
            <li>Simple Resume (French)</li>
            <li>Pretty Resume (French)</li>
        </ul>
    </section>

    <section class="contact-info column">
        <h2>Contact Information</h2>
        <ul>
            <li>Email: <a href="mailto:m@sonpike.net">m@sonpike.net</a></li>
            <li>LinkedIn: <a href="https://linkedin.com/in/masonapike" target="_blank">linkedin.com/in/masonapike</a>
            </li>
            <li>GitHub: <a href="https://github.com/sqrtM" target="_blank">github.com/sqrtM</a></li>
        </ul>
    </section>
</div>
{% endblock body %}

{% block footer %}
{% include "base/footer.html" %}
{% endblock footer %}
