{% extends "base/layout.html" %}

{% block style %}
<style>
</style>
{% endblock style %}

{% block body %}
<body>

<h2>Curriculum Vitae -- Mason Anthony Pike</h2>
<span><b>Last updated:</b> February 2024</span><br>
<span><b>Born:</b> 1997, Georgia, United States</span><br>
<span><b>Residing:</b> Ile-de-France</span>


<blockquote>
    <h3>Education</h3>
</blockquote>

<ul>
    <ul>
        <li>
            2024 3W Academy -- Professional Title (Software Development)
        </li>
        <li>
            2021 University of London, Institute in Paris -- M.A. (Philosophy)
        </li>
        <li>
            2019 Georgia State University -- B.A. (History)
        </li>
    </ul>
</ul>

<blockquote>
    <h3>Employment</h3>
</blockquote>

<ul>
    <ul>
        <li>
            2023-present, <b>Amelia Aviation</b> (Application Developer)
        </li>
        2019-2023, <b>The Turner Learning Center</b>
        <ul>
            <li>
                2021-23, Administrative Manager
            </li>
            <li>
                2021-23, Pedagogical Coordinator
            </li>
            <li>
                2019-23, English Teacher
            </li>
        </ul>
        <li>
            2018-19: <b>Jimmy Carter Presidential Library and Museum</b> (Education and Cultural Outreach Assistant)
        </li>
        2016-19, <b>Georgia State University</b>
        <ul>
            <li>
                2016-19, Research Assistant for the Department of History
            </li>
            <li>
                2015-16, Research Assistant for the Department of Music
            </li>
        </ul>
        <li>
            2015-16, <b>Trion City Schools</b> (Music Teacher)
        </li>
    </ul>
</ul>

<blockquote>
    <h4>Articles</h4>
</blockquote>
<ul>
    <ul>
        <li><i>America</i>, Studies in Urban History and Culture 2021-2022
        </li>
        <li><i>Imagining an Urban Future: The Invention of Ivry and Grand Paris</i>, Studies in Urban History and
            Culture
            2020-2021
        </li>
        <li><i>Love is War</i>, arrangement and co-direction with the 2016 Georgia State University Trombone Ensemble
        </li>
    </ul>
</ul>

<blockquote>
    <h4>Certifications</h4>
</blockquote>
<ul>
    <ul>
        <li>TOSA, PHP [933/1000] (3W Academy, 2023)</li>
        <li>Teaching English as a Foreign Language (Georgia State University, 2019)</li>
    </ul>
</ul>

<blockquote>
    <h4>Languages</h4>
</blockquote>
<ul>
    <ul>
        <li>French</li>
        <li>English</li>
    </ul>
</ul>

<blockquote>
    <h4>Buzzwords</h4>
</blockquote>
<ul>
    <ul>
        <li>Rust | Java | PHP | SQL</li>
        <li>Python | Docker | OOP</li>
        <li>Design Patterns | Linux | CI/CD</li>
    </ul>
</ul>

<blockquote>
    <h4>Other Activities</h4>
</blockquote>
<ul>
    <ul>
        <li>Open Source Contributor in the Rust Ecosystem</li>
        <li>Composer for university wind ensembles</li>
        <li>Occasional trombonist</li>
        <li>System security obsessive</li>
    </ul>
</ul>

</body>
{% endblock body %}
